.plus-ul {
	display: flex;
	flex-direction: column;
	gap: 15px;

	li {
		display: flex;
		gap: 25px;
		align-items: flex-start;
		width: 100%;
		font-size: 24px;

		@include hg {
			font-size: 20px;
		}

		@include md {
			gap: 10px;
			font-size: 18px;
		}

		&::before {
			display: block;
			flex-shrink: 0;
			width: 50px;
			height: auto;
			aspect-ratio: 1/1;
			background: url(assets/images/icon-plus.png) no-repeat 50% / contain;
			content: "";

			@include md {
				width: 30px;
			}
		}
	}
}
