:root {
	// FONTS
	--font-primary: "Poppins", "Arial", sans-serif;
	--font-secondary: "RobotoSerif", "Times New Roman", serif;
	--font-decorative: "TrainOne", "Arial", sans-serif;

	//COLORS
	--primary: #00bfa5;
	--secondary: #d5b02f;

	--fc-dark: #000;
	--fc-light: #fff;

	--bg-primary: #fff;

	//Transition
	--transition: all 0.3s ease;

	//Shadow
	--shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

	//Z-index
	--ui-index-1: 1; // Для наползающих элементов в общем потоке
	--ui-index-2: 2; // Для наползающих элементов в общем потоке
	--ui-index-3: 3; // Для масок
	--ui-index-4: 4; // Для сайдбаров
	--ui-index-5: 5; // Для модалок
	--ui-index-6: 6; // Для эдементов, перекрывающих все
}
